* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4;
}

a {
	color: #333;
	text-decoration: none;
}

.deleteBtn {
	background-color: #ff0000;
	color: #ffff;
	border: none;
	padding: 5px 9px;
	border-radius: 50%;
	cursor: pointer;
	float: right;
}

.header {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
}

.link {
	color: #fff;
	text-decoration: none;
}

.submitBtn {
	display: inline-block;
	border: none;
	background-color: #555;
	color: #fff;
	padding: 7px 20px;
	cursor: pointer;
}

.container {
	padding: 0 1rem;
}
